@import "tailwindcss";
.css-dip3t8,.css-1tqrhto {
    background-color: var(--color-primary) !important;
}
select {
        appearance: none;
        -webkit-appearance: none; /* For Safari */
        /* Other styling like width, padding, border, etc. */
    }